# Ignore Visual Studio folder
/.vs/
# Ignore build folders
/bin/
/obj/
# Ignore config files
*.config
/MC.APIMiddlewares/bin
/MC.APIMiddlewares/obj
/MC.Logging/bin
/MC.Logging/obj
/MC.Repository.Mongo/obj
/MC.Repository.Mongo/bin
/MC.Objects.API/obj
/MC.Objects.API/bin
