# Ignore Visual Studio folder
/.vs/
# Ignore build folders
/bin/
/obj/
# Ignore config files
*.config
/MC.APIMiddlewares/bin
/MC.APIMiddlewares/obj
/MC.Logging/bin
/MC.Logging/obj
/MC.Objects/bin
/MC.Objects/obj
/MC.Repository.Mongo/Repository.Mongo/obj
/MC.Repository.Mongo/Repository.Mongo/bin
