# Ignore Visual Studio folder
/.vs/
# Ignore build folders
/bin/
/obj/
# Ignore config files
*.config
/MC.APIMiddlewares/bin
/MC.APIMiddlewares/obj
/MC.Logging/bin
/MC.Logging/obj
/MC.Repository.Mongo/obj
/MC.Repository.Mongo/bin
/MC.Objects.API/obj
/MC.Objects.API/bin
/Memory/obj
/MC.Memory/bin
/MC.Memory/obj
/Memory/bin
deploy_nugets.py
/MC.Objects/obj
/MC.Objects/bin
/MC.Logging.Tests/obj
/MC.APIMiddlewares.Tests/obj
/MC.Memory.Tests/obj
/MC.Repository.Mongo.Tests/obj
/MC.Memory.Tests/bin
/MC.Logging.Tests/bin
/MC.APIMiddlewares.Tests/bin
/MC.Repository.Mongo.Tests/bin
/MC.APIMiddlewares/Properties

**/.claude/settings.local.json
